<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keithloughnane.whitelabelbikeapp">

    <application>
        <activity
            android:name=".ThirdActivity"
            android:label="@string/title_activity_fancy_options"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
